/* Code by Lluis Guardia */

:root{
  --bg-header: lightgoldenrodyellow;
  --bg-section-front: lightcyan;
  --bg-section-method: lightcyan;
  --bg-section-about: lightcyan;
  --bg-section-info: lightcyan;
  --bg-section-contact: yellow;
  --color-title: orange;
  --bg-btn2contact: orange;
  --bg-btn2contact-hover: red;
  --color-about-maria: orange;

  --size-extrasmall: 410px;
  --size-small: 576px;
  --size-medium: 768px;
  --size-large: 992px;
}

*, *::after, *::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html{
  font-size: 10;
  padding: 0;
  margin: 0;
}

html, body, #root{
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*------------------------------------ NAVBAR ----------------------------------------*/

header{
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--bg-header);
  border-bottom: 2px solid black;
  z-index: 999;
}

.logo-div{
  margin: 0 10px;
  float: left;
  gap: 1rem;
}

.logo-img-nav{
  float: right;
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

nav{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item{
  height: min-content;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: inherit;
  cursor: inherit;
}

.nav-item:hover, .lang-div:hover{
  cursor: pointer;
}

/*----- langs in nav ----*/
.lang-selector{
  float: right;
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lang-div{
  display: flex;
  flex-direction: column;
}

#underline-lang-eng, #underline-lang-dan{
  width: 100%;
  height: 2px;
  margin-top: 2px;
}

.active-lang{
  background-color: black;
}

.separator-lang{
  width: 1px;
  height: 30px;
  margin: 0 3px;
  background-color: black;
}


@media (max-width: 992px){
  nav{
    background-color: orange;
  }
}

@media (max-width: 768px){
  nav{
    background-color: red;
  }
}

@media (max-width: 576px){
  nav{
    background-color: blue;
  }
  .nav-item{
    font-size: 1.3rem;
  }
  .logo-div, .lang-selector{
    margin: 0 5px;
  }
}

@media (max-width: 410px){
  nav{
    background-color: green;
  }
  .nav-item{
    font-size: 1rem;
  }
  .logo-div, .lang-selector{
    margin: 0 2px;
  }
}

/*------------------------------------ ICONS ----------------------------------------*/

.icon {
  height: 20px;
  width: 20px;
  display: block;
}

.cat-icon{
  background-image: url('assets/catala.png');
  background-size: 20px 20px;
}

.esp-icon{
  background-image: url('assets/spanish.png');
  background-size: 20px 20px;
}

.eng-icon{
  background-image: url('assets/english.png');
  background-size: 20px 20px;
}

.dan-icon{
  background-image: url('assets/danish.png');
  background-size: 20px 20px;
}




/*------------------------------------ SECTIONS ----------------------------------------*/

main{
  /* margin-top: 50px; */
}

.section{
  /* height: 75vh; */
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding-top: 50px; */
  padding: 2rem 0;
}

.title-section{
  text-align: center;
  text-decoration: underline;
  margin-bottom: 30px;
}

/*------------------------------------ PORTADA ----------------------------------------*/

.front-section{
  height: 100vh;
  background: url("assets/hero-bg3.png") top right no-repeat;
  background-size: cover;
  position: relative;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-section-front);
  opacity: .8;
  z-index: 1;
}

.front-body{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 2;
}

.div-logo-front{
  /* border: 2px solid red; */
}

#logo-front{
  width: 100%;
  max-width: 80px;
  /* height: 2rem; */
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.div-text-front{
  /* border: 2px solid blue; */
}

.text-front{
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  margin-top: auto;
  /* border: 2px solid black; */
  color: var(--color-title);
  -webkit-text-stroke: 2px black;
}

.text-cat{
  background-image: url('assets/catala_flag.png');
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px black;
  color: transparent;
}



/*------------------------------------ METHODOLOGY ----------------------------------------*/

.method-section{
  background-color: var(--bg-section-method);
}

.method-body{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem 0;
}

.text-method{
  max-width: 50%;
  font-size: 1.2rem;
}

#image-method{
  width: 20%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  border: 2px solid black;
}

/*------------------------------------ ABOUT ME ----------------------------------------*/

.about-section{
  background-color: var(--bg-section-about);
}

.about-body{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.about-text{
  width: 60%;
  font-size: 1.2rem;
  margin: 20px 0;
  text-align: justify;
}

.title-maria{
  color: var(--color-about-maria);
  margin: 2px 0;
}

.text-maria{
}

#image-aboutme{
  width: 20%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  border: 2px solid black;
}

@media (max-width: 992px){
  .about-text{
    width: 70%;
  }
}

/*------------------------------------ INFO ----------------------------------------*/

/* --- levels --- */
.info-section{
  background-color: var(--bg-section-info);
}

.container-levels{
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
}

.container-levels-img, .container-levels-info, .container-levels-time{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.level-info, .level-schedule{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.level-schedule{
  /* border: 2px solid red; */
}

.level-name{
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  color: orange;
  margin: 10px 0;
}

.level-img{
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.level-text{
  text-align: center;
}

.level-time{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  border: 2px solid black;
  padding: 5px 0;
}


@media (max-width: 992px) {
  .level-text{
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .level-img{
    width: 75px;
  }
  .level-name{
    margin-top: 5px;
  }
  .level-info, .level-schedule{
    width: 30%;
  }
  .level-text{
    font-size: 0.8rem;
  }
}
@media (max-width: 576px) {
  .level-info, .level-schedule{
    width: 32%;
  }
  .level-name{
    font-size: 1.3rem;
  }
}

/* --- price --- */
.title-info{
}

.container-info{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: 2px solid red; */
  margin: 5rem 0;
}

#timetable{
  width: 60%;
}
#price{
  width: 20%;
}

.info-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  width: 18%;
}

/* --- ubication --- */

#ubication{
  width: 20%;
}

.info-block p{
  font-weight: bold;
  text-align: center;
}

.separator-info-block{
  width: 80%;
  background-color: black;
  height: 2px;
}

.container-ubi{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5rem 0;
}

#maps{
  width: 500px;
  aspect-ratio: 1.5/1;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px 10px;
}

.info-ubi{
  display: flex;
  height: min-content;
  flex-direction: column;
  margin: 10px;
}

.info-ubi-name{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.8rem;
}

.info-ubi-ubi{
}

.info-ubi-map{
  margin: 1rem 0 0 1rem;
}

@media (max-width: 992px) {
  #maps{
    width: 400px;
  }
}
@media (max-width: 768px) {
  #maps{
    width: 300px;
  }
}
@media (max-width: 576px) {
  #maps{
    width: 200px;
  }
  .info-ubi-name{
    font-size: 1.5rem;
  }
}
@media (max-width: 410px) {
  #maps{
    width: 150px;
  }
  .info-ubi-name{
    font-size: 1.3rem;
  }
}


/*------------------------------------ CONTACT ----------------------------------------*/

.contact-section{
  background-color: var(--bg-section-contact);
}

.contact-body{
  width: 100%;
}

/* ----------------------------- CONTACT FORM ------------------------------------------- */

#contact-form{
  width: 95%;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--secondary);
  border-radius: 10px;
}

.container-form-top{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.container-email, .container-name{
  flex-grow: 1;
}

@media screen and (max-width: 768px){ /*add space between other and languages when small*/
  .container-form-top{
    flex-direction: column;
  }
}

/*------------------------------------ TRANSITIONS ----------------------------------------*/

.transition-section{
  height: 20vh;
}

.transition1{
  background: linear-gradient(var(--bg-section-front), var(--bg-section-method));
}
.transition2{
  background: linear-gradient(var(--bg-section-method), var(--bg-section-about));
}
.transition3{
  background: linear-gradient(var(--bg-section-about), var(--bg-section-info));
}
.transition4{
  background: linear-gradient(var(--bg-section-info), var(--bg-section-contact));
}




/*------------------------------------ OTHER ----------------------------------------*/

/* --- separator sections line --- */
.line-separator{
  background-color: gray;
  width: 90%;
  height: 2px;
  opacity: 50%;
  border: none;
  margin: 0 auto;
}

/* --- btn to go to contact --- */

.div-center-btn2contact{
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn2contact{
  background-color: var(--bg-btn2contact);
  width: 90%;
  max-width: 250px;
  height: auto;
  text-align:center;
  font-weight:bold;
  cursor: pointer;
  position:relative;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 1rem;
}

.btn2contact:hover{
  background-color: var(--bg-btn2contact-hover);
}

.link2contact{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  /* background-color: gray; */
}   
