/* Code by Lluis Guardia */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

:root{
  --bg-header: black;

  --bg: white;

  --bg-section-front: lightcyan;
  --bg-section-method: var(--bg);
  --bg-section-about: var(--bg);
  --bg-section-info: var(--bg);
  --bg-section-contact: lightcyan;

  --bg-header: dimgray;
  --bg-color: white;

  --bg-btn2contact: yellow;
  --bg-btn2contact-hover: red;

  --size-large: 992px;
  --size-medium: 768px;
  --size-small: 576px;
  --size-extrasmall: 410px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html{
  font-size: 10;
  padding: 0;
  margin: 0;
  font-family: Arial;
  scroll-behavior: smooth;
}

html, body, #root{
  width: 100%;
  overflow-x: hidden; 
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*------------------------------------ NAVBAR ----------------------------------------*/

header{
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--bg-header);
  color: var(--bg-color);
  border-bottom: 2px solid black;
  z-index: 999;
}

.logo-div{
  width: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  margin: 0 50px;
  cursor: pointer;
}

.logo-img-nav{
  width: 100%;
  border-radius: 50%;
}

nav{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  /* border: 2px solid blue; */
}

.nav-item{
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
  margin-right: 5%;
}

.nav-item:hover{
  cursor: pointer;
  color: lightblue;
  background-color: black;
}


@media (max-width: 992px){
  nav{
    background-color: orange;
  }
}

@media (max-width: 768px){
  nav{
    background-color: red;
  }
  .logo-div{
    margin: 0 10px;
  }
}

@media (max-width: 576px){
  nav{
    background-color: blue;
  }
  .logo-div{
    margin: 0 5px;
  }
  .nav-item{
    margin-right: 3%;
    font-size: 1.4rem;
  }
}

@media (max-width: 410px){
  nav{
    background-color: green;
  }
  .nav-item{
    font-size: 1.3rem;
  }
}


/*------------------------------------ SECTIONS ----------------------------------------*/

main{
  /* margin-top: 50px; */
}

.section{
  /* height: 75vh; */
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding-top: 50px; */
  padding: 2rem 0;
}

.title-section{
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 30px;
}

.container-section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-section{
  width: 95%;
  margin: 25px 0;

  background-color: var(--bg-section-about);
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 10px black;
}

#about-section, #method-section, #info-section, #contact-section{
  scroll-margin-top: 70px;
}


@media (max-width: 992px){
  .title-section{
    font-size: 2rem;
  }
}
@media (max-width: 768px){
  .title-section{
    font-size: 1.8rem;
  }
  .card-section{
    width: 90%;
  }
}
@media (max-width: 576px){
  .title-section{
    font-size: 1.5rem;
  }
}
@media (max-width: 410px){
  .title-section{
    font-size: 1.4rem;
  }
}


/*------------------------------------ FRONT ----------------------------------------*/

.front-section{
  height: 100vh;
  background: url("assets/background-title.png") top right no-repeat;
  background-size: cover;
  position: relative;
}

.container-front{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(224, 255, 255, 0.8) ;
}

.div-title{
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  margin-bottom: 100px;
}

.text-front{
  font-size: 5rem;
  font-weight: bold;
  margin-top: auto;
  color: black;
  font-weight:bolder;
  text-decoration: none;
}

.title{
  font-family: 'Comfortaa';
  font-weight: 500;
}
.subtitle{
  font-family: 'Caveat';
  font-weight: 500;
  text-align: center;
}

/* --- btn to go to contact --- */
.bubble{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: large;
  text-transform: uppercase;
  font-weight: bold;
}

.btn2contact{
  background-color: var(--bg-btn2contact);
  width: 100%;
  height: auto;
  text-align:center;
  font-weight:bold;
  cursor: pointer;
  position:relative;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 1rem;
}

.btn2contact:hover{
  background-color: var(--bg-btn2contact-hover);
}

.link2contact{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}   

@media (max-width: 992px){
  .text-front{
    font-size: 4rem;
  }
  .title, .subtitle{
    font-weight: 600;
  }
  .div-title{
    margin-bottom: 120px;
  }
  .bubble{
    width: 400px;
  }
}
@media (max-width: 768px){
  .text-front{
    font-size: 3rem;
  }
  .title, .subtitle{
    font-weight: 700;
  }
}
@media (max-width: 576px){
  .text-front{
    width: 100%;
    text-align: center;
  }
  .bubble{
    width: 300px;
    font-size: 1rem;
  }
}
@media (max-width: 410px){
  .bubble{
    width: 250px;
    font-size: 0.8rem;
  }
}


/*------------------------------------ ABOUT ME ----------------------------------------*/
.about-body-top, .about-body-bottom{
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
}

.about-text{
  width: calc(100% - 210px);
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  text-align: justify;
  align-items: center;
  padding-right: 15px;
  /* border: 2px solid green; */
}

.text-maria{
  /* border: 2px solid lightblue; */
}

.about-img{
  width: 210px;
  margin-top: 20px;
  /* border: 2px solid purple; */
}

#image-aboutme{
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  /* border: 2px solid black; */
}

@media (max-width: 992px){
  .about-img{
    width: 180px;
  }
  .about-text{
    width: calc(100% - 180px);
  }
  .about-text{
    font-size: 1.1rem;
  }
}
@media (max-width: 768px){
  .about-img{
    width: 150px;
  }
  .about-text{
    width: calc(100% - 150px);
  }
  .about-text{
    font-size: 1rem;
  }
}
@media (max-width: 576px){
  .about-body-top{
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-img{
    width: 150px;
    margin-top: 0;
  }
  .about-text{
    width: 100%;
    padding-right: 0;
  }
  .about-body-bottom .text-maria{
    margin: 0;
  }
}
@media (max-width: 410px){
}


/*------------------------------------ METHODOLOGY ----------------------------------------*/
.method-section{
  background-color: var(--bg-section-method);
}

.method-body{
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* border: 2px solid red; */
}

.method-text{
  width: 70%;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  text-align: justify;
  justify-content: center;
  /* border: 2px solid green; */
}

.method-img{
  margin-right: 30px;
}

#image-method{
  width: 180px;
  aspect-ratio: 1/1;
  border-radius: 20px;
}

/*------------------------------------ INFO ----------------------------------------*/

.info-card{
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}

.info-body{
}

.container-info{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10px;
}

/* --- question --- */
.container-question{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 20px;
}

.div-question{
  width: 60%;
}

.question-info{
  font-size: 1.5rem;
}

/* --- when --- */
.info-date-dayweek{
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.info-date-days{
  font-size: 0.9rem;
}

.info-date-hour{
  font-size: 1.3rem;
}

/* --- how much --- */
.info-price-money{
  font-size: 2rem;
  font-weight: bold;
}

.info-price-sessions{  
  font-size: 1.6rem;
}

/* --- ubication --- */
#maps{
  width: 450px;
  aspect-ratio: 1.5/1;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px 10px;
}

.info-ubi{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  text-align: center;
}

.info-ubi-name{
  width: 100%;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.8rem;
}

.info-ubi-ubi{
  width: 50%;
}

.info-ubi-map{
  width: 50%;
  /* margin: 1rem 0 0 1rem; */
}

@media (max-width: 992px) {
  #maps{
    width: 400px;
  }
}
@media (max-width: 768px) {
  #maps{
    width: 300px;
  }
}
@media (max-width: 576px) {
  #maps{
    width: 200px;
  }
  .info-ubi-name{
    font-size: 1.5rem;
  }
}
@media (max-width: 410px) {
  #maps{
    width: 150px;
  }
  .info-ubi-name{
    font-size: 1.3rem;
  }
}


/*------------------------------------ CONTACT ----------------------------------------*/

.contact-section{
  background-color: var(--bg-section-contact);
}

.contact-body{
  width: 100%;
}

/* ----------------------------- CONTACT FORM ------------------------------------------- */

#contact-form{
  width: 95%;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--secondary);
  border-radius: 10px;
}

.container-form-top{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.container-email, .container-name{
  flex-grow: 1;
}

@media screen and (max-width: 768px){ /*add space between other and languages when small*/
  .container-form-top{
    flex-direction: column;
  }
}
